<div>
    <br>
    <h1>Welcome to Ziggy.</h1>
    <p>Navigate below to view Orders and Drivers</p>
</div>

<div class="flex flex-row justify-center">
    <mat-card (click)="navigateTo('orders')" class="card">
        <mat-card-header>
            <mat-card-title>
                <div class="title-container">
                    <h1>Orders</h1>
                </div>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card (click)="navigateTo('drivers')"  class="card">
        <mat-card-header>
            <mat-card-title>
                <h1>Drivers</h1>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
