<div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div *ngFor="let driver of drivers" class="flex justify-center">
            <mat-card class="w-full border-2">
                <mat-card-content>
                    <!-- <p>Driver ID: {{ driver._id }}</p> -->
                    <p>Current Location: {{ driver.current_location.coordinates }}</p>
                    <p
                        [ngClass]="{'text-green-600': driver.status === 'free', 'text-red-600': driver.status === 'busy'}">
                        Status: {{ driver.status }}</p>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>