<div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div *ngFor="let order of orders" class="flex justify-center">
            <mat-card class="w-full border-2">
                <mat-card-content>
                    <p>Start Location: {{ order.start_location.coordinates }}</p>
                    <p>End Location: {{ order.end_location.coordinates }}</p>
                    <p
                        [ngClass]="{'text-green-600': order.status === 'assigned', 'text-red-600': order.status === 'unassigned'}">
                        Status: {{ order.status }}</p>
                    <button (click)="markAsDelivered(order)"
                        class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
                        Mark as Delivered
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class=" m-4 flex justify-center ">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" novalidate
        class="flex flex-col items-center space-y-4 border p-4  bg-pink-50 w-fit ">
        <h1>Create an Order</h1>
        <!-- Start Location -->
        <div class="flex flex-col items-center space-x-4">
            <div>
                <label for="start_location" class="text-sm font-medium text-gray-700 mr-2">Start Location: </label>
                <input type="text" id="start_location" formControlName="start_location"
                    class="border border-gray-400  ">
            </div>
            <div *ngIf="orderForm.get('start_location')?.errors?.['required'] && orderForm.get('start_location')?.touched"
                class="text-xs text-red-500 ml-2">
                Start Location is required.
            </div>
            <div *ngIf="orderForm.get('start_location')?.errors?.['invalidFormat'] && orderForm.get('start_location')?.touched"
                class="text-xs text-red-500 ml-2">
                Start Location must be in valid format (latitude, longitude).
            </div>
        </div>

        <!-- End Location -->
        <div class="flex flex-col items-center space-x-4">
            <div>
                <label for="end_location" class="text-sm font-medium text-gray-700 mr-2">End Location:</label>
                <input type="text" id="end_location" formControlName="end_location" class="border border-gray-400 ">
            </div>
            <div *ngIf="orderForm.get('end_location')?.errors?.['required'] && orderForm.get('end_location')?.touched"
                class="text-xs text-red-500 ml-2">
                End Location is required.
            </div>
            <div *ngIf="orderForm.get('end_location')?.errors?.['invalidFormat'] && orderForm.get('end_location')?.touched"
                class="text-xs text-red-500 ml-2">
                End Location must be in valid format (latitude, longitude).
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="!orderForm.valid"
            class="bg-white hover:bg-pink-500 text-pink-700 font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded p-4 m-4">

            Create Order
        </button>
    </form>
</div>